In [ ]:
import pandas as pd
import numpy as np

In [ ]:
!pip install mysql-connector-python

In [ ]:
import mysql.connector as connector

In [ ]:
connection=connector.connect(host="127.0.0.1",user="root",password="", db = 'littlelemondb')

In [ ]:
cursor = connection.cursor()

In [ ]:
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)

In [ ]:
results=cursor.fetchall()
columns=cursor.column_names
print(columns)
for result in results:
    print(result)

In [ ]:
show_tables_query = "select * from Orders" 
cursor.execute(show_tables_query)
results=cursor.fetchall()
columns=cursor.column_names
print(columns)
for result in results:
    print(result)

In [ ]:
show_tables_query = "select * from customer" 
cursor.execute(show_tables_query)
results=cursor.fetchall()
columns=cursor.column_names
print(columns)
for result in results:
    print(result)

In [ ]:
show_tables_query = "select * from orders o left join customer c on o.customer_id = c.customer_id group by o.customer_id having sum(total_cost)>60" 
cursor.execute(show_tables_query)
results=cursor.fetchall()
columns=cursor.column_names
print(columns)
for result in results:
    print(result)